{% extends 'main.html' %}
{% set active_page = "Dashboard" %}

{% block title %}Beschwerdemanagement{% endblock %}
{% block body %}

<div class="row">

        <!-- Left side columns -->
        <div class="col-lg-8">
          <div class="row">

            <!-- Offene Tickets-->
            <div class="card-body">
              <div class="card info-card sales-card">

                <div class="filter">
                  <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li class="dropdown-header text-start">
                      <h6>Filter</h6>
                    </li>

                    <li><a class="dropdown-item" href="#">Today</a></li>
                    <li><a class="dropdown-item" href="#">This Month</a></li>
                    <li><a class="dropdown-item" href="#">This Year</a></li>
                  </ul>
                </div>

                <div class="card-body">
                  <h5 class="card-title">Tickets <span>| Today</span></h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="ri-ticket-2-line"></i>
                    </div>
                    <div class="ps-3">
                      <h6>{{ tickets|length }}</h6>
                    </div>
                  </div>
                </div>

              </div>
            </div><!-- End Offendes Ticket -->

            <!-- Tiecket Liste -->
            <div class="col-12">
              <div class="card recent-sales overflow-auto">

                <div class="filter">
                  <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li class="dropdown-header text-start">
                      <h6>Filter</h6>
                    </li>

                    <li><a class="dropdown-item" href="#">Today</a></li>
                    <li><a class="dropdown-item" href="#">This Month</a></li>
                    <li><a class="dropdown-item" href="#">This Year</a></li>
                  </ul>
                </div>

                <div class="card-body">
                  <h5 class="card-title">Aktuelle Tickets<span>| Today</span></h5>

                  <table class="table table-borderless datatable">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Beschwerde</th>
                <th scope="col">Kategorie</th>
                <th scope="col">Status</th>
                <th scope="col">Aktion</th>
            </tr>
        </thead>
        <tbody>
            {% for ticket in tickets %}
            <tr>
                <th scope="row">{{ ticket.id }}</th>
                <td>{{ ticket.complaint }}</td>
                <td>{{ ticket.category }}</td>
                <td>{{ ticket.status }}</td>
                <td><a href="{{ url_for('edit_ticket', id=ticket.id) }}">Bearbeiten</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

                </div>

              </div>
            </div><!-- End Ticket Liste  -->



          </div>
        </div><!-- End Left side columns -->

      <!-- Right side columns -->
      <div class="col-lg-4">
        <!-- Fragen -->
        <div class="card">
          <div class="filter">
            <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
          </div>

          <div class="card-body pb-0">
            <h5 class="card-title">H&auml;ufige Probleme</h5>

            <div class="card-title">
              
              <div class="post-item clearfix">
                <h6><a href="/faq">Drucker Problem</a></h6>
                <p class="small fst-italic">Falls sie Probleme mit ihren Drucker haben drücken Sie hier.</p>
              </div>

              <div class="post-item clearfix">
                <h6><a href="/faq">Passwort Problem</a></h6>
                <p class="small fst-italic">Falls sie Probleme mit ihrem Passwort haben drücken Sie hier.</p>
              </div>

              <div class="post-item clearfix">
                <h6><a href="/faq">Internet Problem</a></h6>
                <p class="small fst-italic">Falls sie Probleme mit dem Internet haben drücken Sie hier.</p>
              </div>

            </div><!-- End sidebar recent posts-->

          </div>
        </div><!-- End Fragen -->

        </div><!-- End Right side columns -->
      </div>


{% endblock %}
